body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 50px;
}
nav {
    background-color: rgb(5, 1, 8);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: slideInDown 0.5s ease-in-out;
}

#logo img {
    height: 50px;
}
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.item {
    margin: 0 15px;
}

.item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.item a i {
    margin-right: 8px;
    font-size: 18px; /* Adjust icon size */
}

.item a:hover {
    text-decoration: underline;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #2980b9;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #34495e;
    margin-top: 15px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #2980b9;
    color: white;
    position: relative;
}